@model EmotionPlatziWeb.Models.Home

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vista sin layouts</title>
</head>
<body>
    <div> 
        <h2>@Model.WelcomeMessage</h2>
        <h3>@Model.FooterMessage</h3>
    </div>
</body>
</html>
